* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    background: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
}

.attribution {
    font-size: 11px;
    text-align: center;
    min-height: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.attribution a {
    color: hsl(229, 49%, 11%);
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.card-share-button {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: hsl(210, 46%, 95%);
    position: relative;
    cursor: pointer;
    transition: all .30s ease-in-out;
}

.card-share-button .card-share-icon {
    height: 13px;
    width: 15px;
    margin: auto auto;
    position: absolute;
    left: 10px;
    top: 8px;
    user-select: none;
    fill: hsl(217, 19%, 35%);
}

.share-button-active {
    position: absolute;
    top: 117px;
    left: 262px;
    display: flex;
    height: 34px;
    flex-direction: column;
    align-items: center;
}

.share-button-links {
    background: hsl(217, 19%, 35%);
    width: 250px;
    height: 55px;
    border-radius: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.share-button-triangle {
    width: 0px;
    height: 0px;
    border-top: 14px solid hsl(217, 19%, 35%);
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
}

.card {
    font-family: 'Manrope', sans-serif;
    width: 728px;
    display: grid;
    grid-template-columns: 39% 1fr;
    box-shadow: 4px 21px 33px -8px rgba(0, 0, 0, 0.11);
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    transform: translate(-50%, -80%);
}

@media screen and (max-width: 920px) {
    .card {
        width: 320px;
        height: 400px;
        display: grid;
        grid-template-columns: unset;
        grid-template-rows: 203px 1fr;
    }
}

.drawer {
    overflow: hidden;
    position: relative;
    border-radius: 15px 0px 0px 15px;
}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
    align-items: center;
}

.drawer-img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url('images/drawers.jpg');
}

@media screen and (max-width: 920px) {
    .drawer {
        border-radius: 10px 10px 0px 0px;
    }
}

.right {
    font-family: 'Manrope', sans-serif;
    padding: 10px 40px;
    background-color: #ffffff;
    color: hsl(214, 17%, 51%);
    border-radius: 0 15px 15px 0;
    position: relative;
    /* padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: initial;
    flex: 4; */
}

@media screen and (max-width:920px) {
    .right {
        border-radius: 0px 0px 10px 10px;
    }
}

.user {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.heading {
    color: hsl(217, 19%, 35%);
    font-size: 17px;
    font-weight: bold;
    padding: 10px 0px;
}

.para {
    font-size: 13px;
    padding: 10px 0px;
    font-weight: 500;
}

.avatar {
    margin-right: 10px;
    width: 40px;
    border-radius: 50%;
}

.share {
    margin: 0px 10px;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    background-color: hsl(214, 17%, 51%);
    color: white;
}

.user-details {
    color: hsl(217, 19%, 35%);
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.name {
    font-weight: bold;
    padding-bottom: 3px;
}

#card-share-path {
    pointer-events: none;
}

.card-share-icon {
    pointer-events: none;
}

@media screen and (max-width:920px) {
    .share-button-active {
        left: 0%;
        top: 241px;
        width: 100%;
    }
    .share-button-triangle {
        display: none;
    }
    .share-button-links {
        border-radius: 0px 0px 10px 10px;
        height: 60px;
        width: 320px;
        align-items: center;
        justify-content: end;
    }
    .card-share-button {
        z-index: 2;
    }
    .share-item {
        padding-left: 20px;
    }
}